.product{
    max-width: 1400px;
    padding: 10px;
    margin: auto;
}

.product .path{
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.product .details{
    display: flex;
    gap: 50px;
    width: 100%;
}
.product .details .child{
    flex: 1;
}

.product .details  .image-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 50px;
    align-self: start; 
}
.product .details  .image-box .image{
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 18px;
    background: #dddddd;
    position: relative;
}
.product .details .image-box .image .rating{
    position: absolute;
    top: 30px;
    left: 30px;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    display:  flex;
    gap: 10px;
    font-size: 14px;
}
.product .details .image-box .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product .details  .image-box .image-col{
    display: flex;
    gap: 10px;
    margin-top: 10px;

}
.product .details  .image-box .image-col .image-col-box{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    background: #ebebeb;
  
}
.product .details  .image-box .image-col .image-col-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.details-shop .company_id {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
    color: #000;
    font-weight: 500;
}

.details-shop .head {
    font-size: 36px;
    font-weight: 500;
    margin: 10px 0;
}

.details-shop .stars{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
    color: rgb(0, 0, 0);
}

.details-shop .stars .text{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.details-shop .price{
    font-size: 24px;
    margin: 10px 0;
    color: #000;
    font-weight: 600;
}

.details-shop .color_selection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0;
    color: #000;
}

.details-shop .color_selection .image-col{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.details-shop .color_selection .image-col .active{
    border: 1px solid #000;
}
.details-shop .color_selection .image-col .image-col-box{
    width: 80px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    background: #ebebeb;
}
.details-shop .color_selection .image-col .image-col-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-shop .size_selection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0;
    color: #000;
}

.details-shop .size_selection .size-box{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.details-shop .size_selection .size-box .box{
    width: 50px;
    height: 40px;
    overflow: hidden;
    border-radius: 8px;
    background: #d8d7d7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 500;
}
.details-shop .size_selection .size-box  .active{
    background: #000;
    color: #fff;
}


.details-shop .add_to_cart{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 0px;
    color: #fff;
    background: #000;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    gap: 10px;
}

.details-shop .free_delivery{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0 0px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid #d8d7d7 ;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 10px;
}
.details-shop .free_delivery .icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: #e8e5e5;
   
}

.details-shop .secure_delivery{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 0 5px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid #d8d7d7 ;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top: none;
    padding: 10px;
}
.details-shop .secure_delivery .icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: #e8e5e5;
   
}
.details-shop .details_text{
    font-size: 14px;
    width: 90%;
    margin: 20px 0;
}
.details-shop .details_text ul{
    margin: 20px 20px;
    
}
.details-shop .details_text ul li{
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
}


.product .gallery{
    max-width: 1350px;
    margin: auto;
    padding: 100px 0;
  
}
.product .gallery .head{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.product .gallery .text{
    font-size: 14px;

}

.product .gallery .gallery-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.product .gallery .gallery-box .images{
    width: 30%;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    background: #d8d7d7;
    position: relative;
}
.product .gallery .gallery-box .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .gallery .gallery-box .g-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #e8e5e5;
    background: #0000006a;
    padding: 5px;
    border-radius: 4px;
   
}

.product .big_pics {
   max-width: 1350px;
   margin: 20px auto;
   padding: 10px;

}
.product .big_pics .text{
    font-size: 18px;
    font-weight: 500;
    margin: 40px 0 40px;
    text-align: center;
}
.product .big_pics .images{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #F5F5F5;
}
.product .big_pics .images img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}