.nav-sale {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-size: 14px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 9999;


}

nav .child-1,
nav .child-2,
nav .child-3 {
    flex: 1;
    display: flex;
    align-items: center;
}

nav .child-1 {
    justify-content: flex-start;
}

nav .child-1 ol {
    list-style-type: none;
    display: flex;
    gap: 18px;
}

nav .child-1 ol li {
    display: inline-block;
}

nav .child-1 ol li a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

/* Dropdown styles */
.nav-hover-link {
    position: absolute;
    top: 100%; /* Positions below the <li> */
    left: 0;
    width: 100%;
    height:0; /* Initial height is zero */
    overflow: hidden; /* Hide content when height is zero */
    background: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease;
    color: white; /* Ensure visible content */
    
  }
  

  
  
nav .child-2 {
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

nav .child-3 {
    justify-content: flex-end;
    gap: 30px;
}

nav .child-3 .search {
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 5px 15px;
    border-radius: 100px;

    font-size: 12px;
    background: #f3f3f3;
}

nav .child-3 .search:hover {
    background: #e5e5e5;
    outline: 0.5px solid #333
}



nav .child-3 .india {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
}

nav .child-3 .india img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav .child-3 .user {
    font-size: 20px;
}

nav .child-3 .bag {
    font-size: 20px;
}